<item>
<title>[B][COLOR lightblue]Vexen Repository[/COLOR][/B]</title>
<link></link>
<thumbnail>http://www.clipartbest.com/cliparts/eTM/p5r/eTMp5rjTn.png</thumbnail>
<fanart>http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/Best-Wallpaper-HD-13.jpg</fanart> 
<externallink>https://github.com/vincenzogov/Reposity-Vexen/blob/master/IPTV.xml</externallink>
</item>